<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<h1 class='text-center'>Cart</h1>

<div class='container'>
  <table class=table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% @cart.line_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.title %></td>
          <td> 1 </td>
          <td><%= cart_item.item.price %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
